@mixin respond-to($breakpoint) {
    @if $breakpoint ==phone {
        @media (max-width: 768px) {
            @content;
        }
    }

    @if $breakpoint ==tablet {
        @media (max-width: 1024px) {
            @content;
        }
    }

    @if $breakpoint ==desktop {
        @media (min-width: 1025px) {
            @content;
        }
    }
}

$secondary-color: #080808;
$accent-color: #e31e24;

.register-main {
    width: 100vw;
    flex-direction: column;

    h2 {
        margin: 40px 20px 10px ;
        font-size: 4em;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;

        p {
            font-size: 1.5em;
        }

        a {
            display: block;
            position: relative;
            z-index: 100;
            width: 100px;
            height: 100px;
            margin-top: 15px;

            img {
                filter: invert(1);
                width: 60px;
                height: 60px;
                padding: 20px 0 0 10px;
                z-index: 100;
            }

        }
    }

    @include respond-to(phone) {
        font-size: 10px;

    }
}