header {

}

main {

    .rule-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        padding: 20px;
        background-color: #0e0e0e;
        border-radius: 30px;
        backdrop-filter: blur(5px);


        img {
            filter: invert(1);
            width: 40px;
            height: 40px;
            margin: 0 20px;
        }
    }
}