#background-container {
    position: absolute;
    display: grid;
    width: 100vw;
    height: 100%;
    top: 0;
    overflow: hidden;
    z-index: -1;
    img{
        position: absolute;
        width: 30px;
        height: 30px;
        padding: 35px;
        object-fit: cover;
        opacity: 0.8;
        filter: invert(1);
    }
}