footer {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 140px;
    bottom: 0;
    left: 0;
    justify-content: space-evenly;
    background-color: #0f0f0f;


    .header {
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }

    .socials {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 0;


        >div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            margin: 0 15px;

            >img {
                width: 80px;
                height: 80px;
                margin: 0 10px;
            }

            .social_card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                // margin-left: 10px;
                opacity: 0.8;
                transition: opacity 0.3s;

                &.active {
                    opacity: 1;
                }

                span {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 5px 0;

                    img {
                        margin-right: 8px;
                        filter: invert(1);
                    }

                    a {
                        color: #bbb;                        
                        font-size: 1rem;
                        font-weight: 400;

                        &:hover {
                            text-shadow: 0 0 3px rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    }
}