@mixin respond-to($breakpoint) {
    @if $breakpoint ==phone {
        @media (max-width: 768px) {
            @content;
        }
    }

    @if $breakpoint ==tablet {
        @media (max-width: 1024px) {
            @content;
        }
    }

    @if $breakpoint ==desktop {
        @media (min-width: 1025px) {
            @content;
        }
    }
}

.nav-container {
    display: flex;
    margin: 0 auto;
    // height: 70px;
    justify-content: space-evenly;
    border-radius: 10px;
    filter: blur(30%);


    a {
        color: #fff;
        line-height: 70px;
    }

    div {
        display: block;
        font-size: 2em;

        span:first-child {
            font-weight: 900;
            float: left;
            margin-right: 10px;

            ::after {
                display: none;
            }
        }

        ::after {
            content: "";
            display: block;
            background-color: #fff;
            transition: 0.3s;
            height: 2px;
            width: 0;
        }

        :hover::after {
            width: 100%;
        }

    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        span {
            margin: 0 2.5vw;

            a {
                font-size: 1.3em;
            }

            ::after {
                content: "";
                display: block;
                background-color: #fff;
                transition: 0.3s;
                height: 2px;
                width: 0;
            }

            :hover::after {
                width: 100%;
            }
        }

        @include respond-to(phone) {
            //dssssssssssssssssssssssssssssss
        }
    }

    @include respond-to(desktop) {
        width: 80vw;
    }

    @include respond-to(tablet) {
        width: 100vw;
        flex-wrap: wrap;
        align-content: center;
    }

}