@keyframes logo-spin {
    from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo-gear {
  left: 0;
  top: 0;
  position: absolute;
  animation: logo-spin infinite 25s linear;
  width: 150px;
}
.logo-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
}