@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 768px) { @content; }
  }
  @if $breakpoint == tablet {
    @media (max-width: 1024px) { @content; }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1025px) { @content; }
  }
}
#root {
  // max-width: 1280px;
  margin: 0 auto;
  // padding: 120px 0 0 0 ;
  text-align: center;
}

/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  } */
  
  body {
    padding: 120px 1rem 0 1rem;
    width: 100vw;
    @include respond-to(phone) {
      padding: 160px 1rem 0 1rem;
      width: 100vw;
    }
}

main {
  
  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    clear: both;
    
    p {
      font-size: 4em;
      margin: 0;
      font-weight: 900;
    }
  }

  @include respond-to(desktop) {
    header {
      width: 65vw;
      float: left;
    }
    nav {
      width: 35vw;
      float: left;
    }
  }
  
}


.logo {
  position: relative;
  // left: 20px;
  // bottom: 20px;
  width: 150px;
  height: 150px;
  
  @media (max-width: 550px) {
    left: 0;
    // top: 20px;
  }
  &::after {
    content: "";
    box-shadow: 0 75px 80px 40px grey;
    position: relative;
    z-index: -1;
  }
}


// Slide animation
.slide-in-from-below {
  animation: 1.5s ease-out 0s 1 slideInFromBelow forwards;
}

@keyframes slideInFromBelow {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-700 {
    font-weight: 700;
}
.font-400 {
    font-weight: 400;
}
